MODES=[{"measure":"https://metrics.operas-eu.org/unglueit/downloads/v1","name":"unglueit","startDate":"2018-01-01","config":[{"name":"publisher","value":"1"}]}]
API_KEY=123456789
USERNAME=unglueit
OUTDIR=/usr/src/app/output
URI_SCHEME=info:doi
URI_STRICT=false
